@import url('https://fonts.googleapis.com/css2?family=Inter&family=Permanent+Marker&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: #343434;
    color: white;
}
nav a {
    text-align: center;
    color: #FFDA14;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #454ADE;
    color: white;
}
.logo {
    width: 80px;
}
#logo-link {
    padding-top: 5px;
}
.home-title {
    color: #FFDA14;
    font-size: 2em;
    margin-top: 10px;
}
body {
    background-color: #454ADE;
    color: white;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-family: Permanent Marker, Inter, sans-serif;
    margin: 0;
}
#hero-img {
    width: 100%;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
.book, .join {
    background-color: #FFDA14;
    color: #343434;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #A9B4C2;
    color: white;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #343434;
}
.msg {
    background-color: #343434;
    color: white;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: #FFDA14;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #A9B4C2
}
footer {
    background-color: #343434;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    background-color: #FFDA14;
    color: #343434;
    text-decoration: none;
}
footer a:hover {
    background-color: #A9B4C2;
    color: white;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}