body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h1 {
    font-size: 5em;
    letter-spacing: 25px;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    align-self: center;
    justify-self: center;
}
h2 {
    color: darkred;
    font-size: 2.5em;
    letter-spacing: 15px;
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;
    align-self: center;
    justify-self: center;
}
img {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    height: 500px;
}
#background {
    background-color: rgb(167, 165, 165);
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/3;
}
